{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link href="css/tailwind.css" rel="stylesheet">
</head>
<body class="h-screen w-screen flex flex-col">
    {{range .Components}}
        {{if eq .Type "header"}}
            {{template "header" (dict "Component" . "GetComponentConfig" $.GetComponentConfig)}}
        {{end}}
    {{end}}

    {{template "main" (dict "Components" .Components "GetComponentConfig" $.GetComponentConfig "Component" (dict "Type" "main"))}}

    {{range .Components}}
        {{if eq .Type "footer"}}
            {{template "footer" (dict "Component" . "GetComponentConfig" $.GetComponentConfig)}}
        {{end}}
    {{end}}
</body>
</html>
{{end}} 