{{define "blogImage"}}
<div class="mb-8">
    <img src="{{.URL}}" alt="{{.Label}}" class="rounded-lg shadow-md w-full">
    {{if .Label}}
        <p class="text-sm text-gray-600 mt-2 text-center">{{.Label}}</p>
    {{end}}
</div>
{{end}} 